// ==========================================================================
// Logo Atom
// ==========================================================================

/*doc
---
title: Logo
name: logo
category: atoms
---

```html_example
<div class="island cell">
    <a href="/" class="logo">Logo</a>
</div>
```
*/

.logo {
    @include text-replace;
    @include retina-image(logos, site-logo);
    display: block;
    width: rem-calc(125);
    height: rem-calc(35);
    background-repeat: no-repeat;
    background-position: center center;

    @include respond-to(mainnav) {
        width: rem-calc(195);
        height: rem-calc(55);

    }
}
